<footer id="page-footer">
  <p>
    Copyright &copy; 2019
    <%= link_to 'reinteractive.academy', 'https://reinteractive.academy/' %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>
