<aside id="sidebar">
  <nav>
    <ul>
      <li class="create-feedback">
        <%= link_to 'Submit new idea', new_feedback_path, class: 'button' %>
      </li>
      <li class="all-movies">
        <%= link_to 'All Categories', feedbacks_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>
